a  {
  color: white;
  font-size: 24px;
}
img .image-acceui {
  width: 100%;
  border: 5px solid black;

}

#carou {
  border-bottom: 1em solid green;
}


.navbar-brand .51 {
  color: green;
}

.thumbnail {
  border: 0px;
}
.jumbotron {

}

#space-contact {
margin-top: 5em;

}
#black-light {
  background-color: #222628;
  margin : 0px;
}

#white {
  color: white;
}

#grey {
  color: #8996A0;
}

#black {
  color: #2F373B;
}
#grey-light {
  background-color: #3C3C44;
}
